.bookAppointmentBtn {
    width: 420px;
    height: 84px;
    border-radius: 24px;
    background-color: #ec008b;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    position: absolute;
    /* Change positioning to bottom and right for easier alignment */
    bottom: 100px; /* Adjust this to control how far from the bottom */
    right: 200px;  /* Adjust this to control how far from the right */
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.bookAppointmentBtn:hover {
    opacity: 0.8;
}
