/* app/components/Navbar.module.css */

.navbar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 40px 20px;
    background-color: #fff;
    font-family: Arial, sans-serif;
}

.toolbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarLeft {
    display: flex;
    align-items: center;
}

/* Logo size for desktop (default) */
.logo {
    margin-left: 40px;
    width: 365px;
    height: 96px;
}

/* Adjust logo size for tablet screens */
@media (max-width: 1200px) {
    .logo {
        width: 196px;
        height: 52px;
    }
}

/* Adjust logo size for mobile screens */
@media (max-width: 600px) {
    .logo {
        width: 102px;
        height: 27px;
    }
}

.navbarCenter {
    display: flex;
    align-items: center;
    gap: 60px; /* Control the space between links */
}

.navLink {
    padding-right: 0;
    font-size: 24px;
    font-weight: 700;
    color: #383838;
    text-decoration: none;
    cursor: pointer;
}

.navLink:hover {
    color: #0066cc;
}

.menuButton {
    display: none; /* Hidden on larger screens */
}

/* Media query for tablet and mobile (hamburger icon) */
@media (max-width: 1200px) {
    .navbarCenter {
        display: none; /* Hide links on tablet and mobile */
    }
    .menuButton {
        display: block; /* Show hamburger menu on tablet and mobile */
    }
}
